/* ------- BODY ------ */

* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 20px 50px;
}

h1 {
  font-size: 20px;
  color: #0005c2;
}

/* ------- MENU ------ */

.menus .menu {
  padding: 10px 25px;
  color: white;
  background-color: grey;
  width: 100px;
  margin: 8px;
  border-radius: 25px;
  border: solid rgb(74, 56, 98) 2px;
  text-align: center;
}

.menus .menu:hover {
  background-color: rgb(162, 130, 192);
  transition: background-color 0.5s;
}

/* ------ PAGE ------ */

.page {
  display: flex;
}

.page .game {
  width: 65%;
  display: inline-block;
  vertical-align: top;
}

.page .options {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

/* ------- TERRAIN ------ */

.terrain {
  background-color: lightgray;
  border-radius: 10px;
}

.terrain .cellule {
  width: 30px;
  height: 30px;
  background-color: rgb(92, 47, 133);
}

.terrain .cellule:hover {
  background-color: rgb(162, 130, 192);
}

.terrain .cellule.mine {
  background-image: url(../medias/bomb-clipart.svg);
  background-color: red;
  cursor: default;
}

.terrain .cellule.mine:hover {
  background-image: url(../medias/bomb-clipart.svg);
  background-color: red;
}

.terrain .cellule.OK {
  background: none;
  color: white;
}

.terrain .cellule.OK:hover {
  background: none;
}

/* background-image: url(medias/pngtree-black-colorful-number-1-png-image_2786493.jpeg);
    background-size: contain; */
